<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormularioSocioEconomicoController</servlet-name>
        <servlet-class>controller.PesquisaFormularioSocioEconomicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEditalController</servlet-name>
        <servlet-class>controller.PesquisaEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <servlet-class>controller.PesquisaCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsistaContempladoController</servlet-name>
        <servlet-class>controller.PesquisaBolsistaContempladoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <servlet-class>controller.PesquisaBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFormularioSocioEconomicoController</servlet-name>
        <servlet-class>controller.ManterFormularioSocioEconomicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEditalController</servlet-name>
        <servlet-class>controller.ManterEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCandidatoController</servlet-name>
        <servlet-class>controller.ManterCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBolsistaContempladoController</servlet-name>
        <servlet-class>controller.ManterBolsistaContempladoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBolsaController</servlet-name>
        <servlet-class>controller.ManterBolsaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormularioSocioEconomicoController</servlet-name>
        <url-pattern>/PesquisaFormularioSocioEconomicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEditalController</servlet-name>
        <url-pattern>/PesquisaEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <url-pattern>/PesquisaCandidatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsistaContempladoController</servlet-name>
        <url-pattern>/PesquisaBolsistaContempladoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <url-pattern>/PesquisaBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFormularioSocioEconomicoController</servlet-name>
        <url-pattern>/ManterFormularioSocioEconomicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEditalController</servlet-name>
        <url-pattern>/ManterEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCandidatoController</servlet-name>
        <url-pattern>/ManterCandidatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBolsistaContempladoController</servlet-name>
        <url-pattern>/ManterBolsistaContempladoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBolsaController</servlet-name>
        <url-pattern>/ManterBolsaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
